In [1]:
import json
import pandas as pd

In [7]:
with open('data/world_bank_projects.json') as json_file:
    json_data = json.load(json_file)

In [8]:
data_df = pd.read_json(open('data/world_bank_projects.json'))

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 1

In [9]:

data_df.countryshortname.value_counts()[:10]

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

## 2

In [11]:
pd.json_normalize(json_data, record_path = 'sector').Name.value_counts()

Other social services                               106
Central government administration                    82
Sub-national government administration               75
General agriculture, fishing and forestry sector     65
Health                                               63
                                                   ...
Petrochemicals and fertilizers                        2
Credit Reporting and Secured Transactions             2
Railways                                              2
Other non-bank financial intermediaries               1
Non-compulsory health finance                         1
Name: Name, Length: 71, dtype: int64

### 3

In [13]:
theme_codes = pd.json_normalize(json_data, record_path = 'mjtheme_namecode')

In [16]:
theme_codes.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [17]:
theme_codes

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

In [18]:
#4
def fill_in_name(x):
    x.loc[:, "name"] = x["name"].value_counts().index[0]
    return x

theme_codes.groupby('code').apply(lambda x: fill_in_name(x)).head()

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration